﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="KullaniciGiris.aspx.cs" Inherits="OtelProjesi.KullaniciGiris1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body style="height: 486px">
    <form id="form1" runat="server">
    <div>
    
        <asp:Panel ID="Panel1" runat="server" BackColor="#3333CC" Height="716px" Width="1357px">
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <asp:Label ID="Label1" runat="server" Text="   KULLANICI BİLGİLERİ" BackColor="Black" BorderStyle="Groove" Font-Bold="True" Font-Italic="True" Font-Size="Large" ForeColor="#FFFFCC" Height="25px" Width="201px"></asp:Label>
            <br />
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;
            <asp:Label ID="Label2" runat="server" BackColor="#00CC66" BorderColor="#CCCCCC" BorderStyle="Outset" Text="KULLANICI ADI" Width="127px"></asp:Label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <asp:TextBox ID="txtAdı0" runat="server" AutoCompleteType="Disabled" Height="16px" ToolTip="KULLANICI ADI GİRİNİZ" Width="151px"></asp:TextBox>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <br />
            <br />
            &nbsp;<br /> &nbsp;&nbsp;&nbsp;
            <asp:Label ID="Label4" runat="server" BackColor="#00CC66" BorderColor="#CCCCCC" BorderStyle="Outset" Text="KULLANICI ŞİFRE" Width="137px"></asp:Label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <asp:TextBox ID="txtSifre" runat="server" Height="16px" TextMode="Password" ToolTip="SİFRE GİRİNİZ" Width="151px"></asp:TextBox>
            <br />
            &nbsp;&nbsp;&nbsp;
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <asp:Label ID="lblmsaj" runat="server" Text="Label"></asp:Label>
            <br />
            &nbsp;&nbsp;&nbsp;
            <asp:Button ID="Button1" runat="server" BackColor="Black" BorderColor="White" Font-Bold="True" Font-Size="Medium" ForeColor="White" Height="33px" OnClick="Button1_Click" Text="GİRİS" Width="96px" />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <asp:Label ID="Label5" runat="server" BackColor="White" ForeColor="Black"></asp:Label>
            &nbsp;&nbsp;
        </asp:Panel>
    
    </div>
    </form>
</body>
</html>
